<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Morpheus" connectionString="host=10.140.13.164;username=root;password=bitron;database=srvdoc;Connect Timeout=120;allow zero datetime=true;charset=utf8;"/>-->
    <add name="Morpheus" connectionString="host=127.0.0.1;username=root;password=bitron;database=srvdoc;Connect Timeout=120;allow zero datetime=true;charset=utf8;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
